[workspace]
members = [
  # Clickhouse
  "clickhouse-solana-tokens",
  "clickhouse-solana-dex",
  "clickhouse-solana-transfers",
  "clickhouse-solana-balances",
  "clickhouse-solana-accounts",
  "clickhouse-solana-metadata",

  # Tokens
  "spl-token",
  "native-token",

  # DEXs
  "pumpfun/bonding_curve",
  "pumpfun/amm",
  "jupiter/v4",
  "jupiter/v6",
  "raydium/amm-v4",
  "raydium/clmm",
  "raydium/cpmm",
  "raydium/launchpad",
  "metaplex",
  "bonk-swap",
  "meteora/amm",
  "meteora/daam",
  "meteora/dllm",

  # Common
  "proto",
  "common",
]
resolver = "2"

[workspace.package]
description = "EVM Tokens"
edition = "2021"
version = "0.0.0"
license = "Apache-2.0"

[workspace.dependencies]
bs58 = "0.5.1"
substreams = "0.6.1"
substreams-abis = "0.4.5"
substreams-solana = "0.14.1"
substreams-solana-idls = { git = "https://github.com/pinax-network/substreams-solana-idls", tag = "v0.6.0" }
spl-token = "8.0.0"
substreams-solana-program-instructions = "0.2"
substreams-database-change = "2.1.2"
prost = "0.13"
prost-types = "0.13"

[profile.release]
lto = true
